.Video_control {
    width: inherit;
    height: inherit;
    position: absolute;
    display: flex;
    flex-direction: column;
}
.Video_control__grayed{
    background-color: rgba(40, 45, 60, 0.3);
}
.control_down{
    width: inherit;
    height: auto;
    position: absolute;
    bottom: 0;
}
.control_up {
    display: flex;
    flex-direction: row;
    height: auto;
    flex-grow: 1;
}
.up_skip {
    height: inherit;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    opacity: 0;
}
.up_skip div{
    width: 3rem !important;
    height: 3rem !important;
    margin: auto;
}
.up_skip__show{
    animation: skipping 0.7s;
}
.up_skip svg {
        width: 3rem !important;
        height: 3rem !important;
        margin: auto;
}
.Video_control__fadein{
}
.Video_control__fadeout{
}
@keyframes fadein{

}
@keyframes fadeout{

}
@keyframes skipping{
    0%{
        opacity: 0;
    }
    15%{
        opacity: 1;
    }
    85%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}