.control_progress{
    width: inherit;
    padding: 0.5rem 1rem;
}
.progress_clickable{
    padding: 0.5rem 0;
}
.progress_line{
    height: 2px;
    background-color: #808080;
}
.progress_clickable:hover {
    cursor: pointer;
}
.line_now{
    background-color: blue;
    height: inherit;
    width: 0;
}